@import "../mixins/mixins";

.hidden{
    display: none;
    &-mobile{
       @include respondTo('mobile') {
            display: none;
       }
    }
    &-tablet{
        @include respondTo('tablet') {
            display: none;
        }
    }
    &-desktop{
        @include respondTo('desktop') {
            display: none;
        }
    }
}
